@media (max-width: 575.98px) {

    /* ============ common part start ============= */

    .subtitle {
        font-size: 16px;
    }

    .common_pera {
        font-size: 14px;
    }

    .common_heading {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .common_h3 {
        font-size: 20px;
    }

    .find_me h3 {
        font-size: 16px;
    }

    .find_me a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin-right: 7px;
    }

    /* ============ common part end ============= */

    /* preloader */
   
    @keyframes round_1 {
        40%{
            left: 42%;
            opacity: 1;
        }
        60%{
            left: 42%;
            opacity: 1;
        }
        100%{
            left: 100%;
        }
    }
    @keyframes round_2 {
        40%{
            left: 47%;
            opacity: 1;
        }
        60%{
            left: 47%;
            opacity: 1;
        }
        100%{
            left: 100%;
        }
    }
    @keyframes round_3 {
        40%{
            left: 52%;
            opacity: 1;
        }
        60%{
            left: 52%;
            opacity: 1;
        }
        100%{
            left: 100%;
        }
    }
    @keyframes round_4 {
        40%{
            left: 57%;
            opacity: 1;
        }
        60%{
            left: 57%;
            opacity: 1;
        }
        100%{
            left: 100%;
        }
    }

    /* ============ menu part start ============= */
    .menu_part .navbar-brand img {
        height: 60px;
    }

    .menu_fixed .navbar-brand img {
        height: 50px;
    }

    .menu_part .navbar-toggler i {
        color: var(--peraClr);
        font-size: 30px;
        transition: all linear .5s;
    }
    .menu_fixed .navbar-toggler i {
        font-size: 25px;
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 1px var(--peraClr);
    }

    .menu_part .navbar-nav {
        background: var(--bg-dark);
    }

    .menu_part .navbar-nav .nav-item {
        text-align: center;
    }

    .menu_part .navbar-nav .nav-link {
        font-size: 14px;
        display: inline-block;
        padding: 3px 10px;
        margin: 7px 0;
    }

    /* ============ banner part start ============= */
    .shape_btm {
        height: 0;
        border-bottom: 0;
    }

    #banner_part {
        padding-top: 110px;
        padding-bottom: 0px;
        text-align: center;
    }

    #banner_part .banner_content p {
        font-size: 14px;
    }

    #banner_part .banner_content h1 {
        font-size: 35px;
        font-weight: 600;
    }

    #banner_part .banner_content .typing {
        font-size: 22px;
    }

    #banner_part .image {
        width: 100%;
        margin-top: 20px;
    }

    /* ============ banner part end ============= */

    /* ============ feature part end ============= */
    #feature_part {
        padding-top: 50px;
        text-align: center;
    }



    #feature_part .item .feature_icon {
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    #feature_part .item .feature_arrow {
        font-size: 25px;
        opacity: 1;
    }

    /* ============ feature part end ============= */

    /* ============ skill part start ============= */
    #skill_part {
        padding-top: 50px;
        text-align: center;
    }

    #skill_part .common_h3 {
        font-size: 16px;
        text-align: left;
    }

    /* ============ skill part end ============= */

    /* ============ resume part start ============= */
    #resume_part {
        padding-top: 50px;
        text-align: center;
    }

    #resume_part h4 {
        font-size: 16px;
        margin-bottom: 0;
        display: block;
        text-align: left;
    }

    #resume_part h4::after {
        width: 15%;
    }

    #resume_part .item h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    /* ============ resume part end ============= */

    /* ============ portfoio part start ============= */
    #portfolio_part {
        padding-top: 50px;
        text-align: center;
    }

    #portfolio_part .item .port_overlay {
        transform: scale(1);
        background-color: #d82f2f80;
    }

    #portfolio_part .item .port_overlay a {
        background: #16191e;
        box-shadow: 0px 1px 4px 0px #959595;
        font-size: 16px;
        color: var(--brand);
    }

    /* ============ portfoio part end ============= */

    /* ============ testimonial part start ============= */
    #testi_part {
        padding-top: 50px;
        text-align: center;
    }

    #testi_part .client {
        padding: 15px 15px;
        background: #7f8fa4;
        border-radius: 10px 10px 0 0;
    }

    #testi_part .details {
        padding: 15px 15px;
        background: #7f8fa4;
        border-radius: 0 0 10px 10px;
        box-shadow: none;
    }

    #testi_part .details .common-pera {
        font-size: 12px;
    }

    #testi_part .details .quate img {
        width: 30%;
    }

    #testi_part .details .rating {
        top: 15px;
        font-size: 12px;
    }

    #testi_part .testi_slider .slick-dots li {
        background: #383f48;
    }

    /* ============ testimonial part end ============= */

    /* ============ leatest part start ============= */
    #leatest_part {
        padding-top: 50px;
        text-align: center;
    }
    #leatest_part .item {
        margin-top: 20px;
    }

    #leatest_part .item .leatest_over {
        transform: scale(1);
    }

    /* ============ leatest part end ============= */

    /* ============ contact part start ============= */
    #contact_part {
        padding-top: 50px;
        text-align: center;
    }

    #contact_part .item .common-pera {
        font-size: 14px;
    }

    #contact_part .item {
        background: #7f8fa4;
      }

    #contact_part .main_form {
        padding: 20px;
        background: #7f8fa4;
        margin-top: 20px;
    }

    #contact_part .main_form .form_group label {
        font-size: 14px;
        text-align: left;
        display: block;
    }

    #contact_part .main_form .form_group .form_control {
        padding: 5px 10px;
    }

    #contact_part .main_form button {
        font-size: 16px;
    }

    /* ============ contact part end ============= */


    /* ============ footer part start ============= */
    #footer_part .item p {
        font-size: 14px;
    }

    /* ============ footer part end ============= */

}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* ============ common part start ============= */

    .subtitle {
        font-size: 16px;
    }

    .common_pera {
        font-size: 14px;
    }

    .common_heading {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .common_h3 {
        font-size: 20px;
    }

    .find_me h3 {
        font-size: 16px;
    }

    .find_me a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin-right: 7px;
    }

    /* ============ common part end ============= */

    /* ============ menu part start ============= */
    .menu_part .navbar-brand img {
        height: 50px;
    }

    .menu_fixed .navbar-brand img {
        height: 40px;
    }

    .menu_part .navbar-toggler i {
        color: var(--peraClr);
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 1px var(--peraClr);
    }

    .menu_part .navbar-nav {
        background: var(--bg-dark);
    }

    .menu_part .navbar-nav .nav-item {
        text-align: center;
    }

    .menu_part .navbar-nav .nav-link {
        font-size: 14px;
        display: inline-block;
        padding: 3px 10px;
        margin: 7px 0;
    }

    /* ============ banner part start ============= */
    .shape_btm {
        height: 0;
        border-bottom: 0;
    }

    #banner_part {
        padding-top: 110px;
        padding-bottom: 0px;
        text-align: center;
    }

    #banner_part .banner_content p {
        font-size: 14px;
    }

    #banner_part .banner_content h1 {
        font-size: 35px;
        font-weight: 600;
    }

    #banner_part .banner_content .typing {
        font-size: 22px;
    }

    #banner_part .image {
        width: 100%;
        margin-top: 20px;
    }

    /* ============ banner part end ============= */

    /* ============ feature part end ============= */
    #feature_part {
        padding-top: 50px;
        text-align: center;
    }

    #feature_part .item {
        background: linear-gradient(320deg, var(--bg-dark), var(--bg-black));
    }

    #feature_part .item .feature_icon {
        font-size: 35px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    #feature_part .item .feature_arrow {
        font-size: 25px;
        opacity: 1;
    }

    /* ============ feature part end ============= */

    /* ============ skill part start ============= */
    #skill_part {
        padding-top: 50px;
        text-align: center;
    }

    #skill_part .common_h3 {
        font-size: 16px;
        text-align: left;
    }

    /* ============ skill part end ============= */

    /* ============ resume part start ============= */
    #resume_part {
        padding-top: 50px;
        text-align: center;
    }

    #resume_part .item {
        padding: 20px;
        background: linear-gradient(320deg, var(--bg-dark), var(--bg-black));
    }

    #resume_part h4 {
        font-size: 16px;
        margin-bottom: 0;
        display: block;
        text-align: left;
    }

    #resume_part h4::after {
        width: 15%;
    }

    #resume_part .item h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    /* ============ resume part end ============= */

    /* ============ portfoio part start ============= */
    #portfolio_part {
        padding-top: 50px;
        text-align: center;
    }

    #portfolio_part .item .port_overlay {
        transform: scale(1);
    }

    #portfolio_part .item .port_overlay a {
        background: #16191e;
        box-shadow: 0px 1px 4px 0px #959595;
        font-size: 16px;
    }

    /* ============ portfoio part end ============= */

    /* ============ testimonial part start ============= */
    #testi_part {
        padding-top: 50px;
        text-align: center;
    }

    #testi_part .client {
        padding: 15px 15px;
        background: #7f8fa4;
        border-radius: 10px 10px 0 0;
    }

    #testi_part .details {
        padding: 15px 15px;
        background: #7f8fa4;
        border-radius: 0 0 10px 10px;
        box-shadow: none;
    }

    #testi_part .details .common-pera {
        font-size: 12px;
    }

    #testi_part .details .quate img {
        width: 30%;
    }

    #testi_part .details .rating {
        top: 15px;
        font-size: 12px;
    }

    #testi_part .testi_slider .slick-dots li {
        background: #383f48;
    }

    /* ============ testimonial part end ============= */

    /* ============ leatest part start ============= */
    #leatest_part {
        padding-top: 50px;
        text-align: center;
    }

    /* ============ leatest part end ============= */

    /* ============ contact part start ============= */
    #contact_part {
        padding-top: 50px;
        text-align: center;
    }

    #contact_part .item .common-pera {
        font-size: 14px;
    }

    #contact_part .item {
        background: #7f8fa4;
    }

    #contact_part .main_form {
        padding: 20px;
        background: #7f8fa4;
        margin-top: 20px;
    }

    #contact_part .main_form .form_group label {
        font-size: 14px;
        text-align: left;
        display: block;
    }

    #contact_part .main_form .form_group .form_control {
        padding: 5px 10px;
    }

    #contact_part .main_form button {
        font-size: 16px;
    }

    /* ============ contact part end ============= */


    /* ============ footer part start ============= */
    #footer_part .item p {
        font-size: 14px;
    }

    /* ============ footer part end ============= */
}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* ======= common css start ========= */
    .find_me h3 {
        font-size: 16px;
        margin-top: 15px;
    }

    .find_me a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-right: 10px;
    }

    .shape_btm {
        height: 0;
        border-bottom: 0;
    }

    .subtitle {
        font-size: 18px;
    }

    .common_heading {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .common_h3 {
        font-size: 20px;
    }

    .common_pera {
        font-size: 12px;
        line-height: 20px;
    }

    /* ======= common css end ======== */

    /* ======= menu part css start ========= */
    .menu_part .navbar-brand img {
        height: 60px;
    }

    .menu_fixed .navbar-brand img {
        height: 50px;
    }

    .menu_part .navbar-nav .nav-link {
        font-size: 14px;
        padding: 5px;
        margin-left: 5px;
    }

    .menu_fixed .navbar-nav .nav-link {
        margin-left: 3px;
    }

    /* ======= menu part css end ======== */

    /* ======= banner part css start ========= */
    #banner_part {
        padding-top: 150px;
    }

    #banner_part .banner_content h1 {
        font-size: 35px;
    }

    #banner_part .banner_content .typing {
        font-size: 25px;
    }

    #banner_part .banner_content p {
        font-size: 14px;
        line-height: 20px;
    }

    #banner_part .image {
        width: 100%;
        display: flex;
        align-items: end;
    }



    /* ======= banner part css end ======== */

    /* ======= feature part css start ========= */
    #feature_part .item .feature_icon {
        font-size: 30px;
        margin-bottom: 15px;
    }

    #feature_part .item .common_h3 {
        margin-bottom: 10px;
    }

    #feature_part .item .feature_arrow {
        font-size: 20px;
    }

    /* ======= feature part css end ======== */

    /* ======= skill part css start ========= */
    #skill_part .common_h3 {
        font-size: 14px;
    }

    /* ======= skill part css end ======== */

    /* ======= resume part css start ========= */
    #resume_part h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    #resume_part .item h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    /* ======= resume part css end ======== */

    /* ======= portfolio part css start ========= */
    #portfolio_part .item .port_overlay a {
        font-size: 14px;
    }

    /* ======= portfolio part css end ======== */

    /* ======= testimonial css start ========= */
    #testi_part .client .common-pera {
        font-size: 14px;
    }

    #testi_part .details .quate img {
        width: 70%;
    }

    #testi_part .details .rating {
        top: 45px;
        font-size: 12px;
    }

    #testi_part .testi_slider .slick-prev {
        right: 15%;
        top: 40px;
    }

    #testi_part .testi_slider .slick-next {
        right: 5%;
        top: 40px;
    }

    /* ======= testimonial css end ======== */
    /* ======= contact part css start ========= */
    #contact_part .item .common-pera {
        font-size: 14px;
    }
    #contact_part .main_form .form_group label {
        font-size: 14px;
    }
    #contact_part .main_form .form_group .form_control {
        padding: 5px 10px;
    }
    #contact_part .main_form .form_group textarea {
        height: 125px;
    }
    #contact_part .main_form button {
        padding: 10px;
        font-size: 16px;
    }
    /* ======= contact part css end ======== */
    /* ======= common css start ========= */
    /* ======= common css end ======== */
    /* ======= common css start ========= */
    /* ======= common css end ======== */
    /* ======= common css start ========= */
    /* ======= common css end ======== */
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* ======== menu part start ======== */
    .menu_part .navbar-brand img {
        height: 70px;
    }
    .menu_fixed .navbar-brand img {
        height: 60px;
    }
    /* ======== menu part end ======== */

    /* ======== banner part start ======== */
    #banner_part .banner_content h1 {
        font-size: 48px;
    }
    #banner_part .banner_content .typing {
        font-size: 30px;
    }
    #banner_part .image {
        width: 100%;
        display: flex;
        align-items: end;
    }
    /* ======== banner part end ======== */

    
}